/* reset everything*/

/*The 'overflow' property specifies
what to do if the content of an 
element exceeds the size of the element's box.

em = 2times the current size of the property
*/

*{
    magin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #fff;
    background: #cccccc;
    line-height:1.6em;
}

#nav >ul>li{
    display: inline-block;
    padding: 0px;

}

#nav >ul>li a{
    margin-left: 20px;
    text-transform: uppercase;
    line-height: 3.5em;
    letter-spacing: 0px;
    font-weight:300;
    font-size: 20px;
}
header{
    background: rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 40px;
}


a{
    color:#fff;
    text-decoration: none;
}
h1{
    text-align: left;
    color:black;
    font-family: "Impact", sans-serif;
    border: 1px;
    font-size: 50px;
    float:left;
}

#clear{
    clear: both;
}

.container{
    width: 1200px;
    overflow: hidden;
}

#slider{
    width: 940px;
    height:353px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
    border: #666 solid 2px;
    border-radius: 5px; 
}

#slider img{
    width: 940px;
    height: 350px;       
}

.slide{
    position: absolute;
}
.slide-copy{
    position: absolute;
    bottom: 4px;
    left: 1px;
    right:1px;
    padding:20px;
    background: #7f7f7f;
    background: rgba(0,0,0,0.5);
}
#prev,#next{
    float: left;
    margin-top: 155px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

#prev{
  width: 45px;
  margin-left: 0px;  
}
#next{
    width: 45px;
    margin-right: 0px;
}

#middle{
    height: 200px;
}
footer{
    background: #7f7f7f;
    height: 40px;
    line-height: 2.7em;
    margin-bottom: 0px;
    text-align: center;
}
